{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>

    <table>
        <thead>
        <tr>
            <th>Text</th>
            <th>UserRated</th>
            <th>ReviewAuthor</th>
            <th>PublicationDate</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.text }}</td>
                <td>{{ review.userRated }}</td>
                <td>{{ review.reviewAuthor }}</td>
                <td>{{ review.publicationDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ review.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}