{% extends 'base.html.twig' %}

{% block body %}

    {% include 'default/index.html.twig' %}

    <h1>Details Review</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ review.reviewAuthor }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ review.text }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ review.publicationDate|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ review.note }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('review_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('review_edit', { 'id': review.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
